name: GitHub-Profile-3D-Contrib

on:
  schedule:
    - cron: "0 */18 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: yoshi389111/github-profile-3d-contrib@b909a5f446fbec2b597177e8abc089975b79b0e6 # main
        env:
          GITHUB_TOKEN: ${{ secrets.STATS_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Commit & Push
        run: |
          git config user.name maxgio92
          git config user.email me@maxgio.it
          git add -A .
          git commit -m "Personal 3d Contributions images updated"
          git push
